# Compiler files
cache/
out/
.idea/
broadcast/
node_modules/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# lock file
package-lock.json
